<template>
	<header>
		<!-- <div class="nv-loader">
			<div class="nv-loader__body">
				<div class="nv-loader__circle circle-front"></div>
				<div class="nv-loader__circle circle-rear"></div>
			</div>
		</div> -->
		<div class="nv-header">
			<div class="nv-rubrics">
				<span class="nv-rubrics__toggler">
					<img src="@/assets/images/icon-close.svg" alt="close" />
				</span>
				<h3 class="nv-rubrics__title">Rubrikalar</h3>
				<ul class="nv-rubrics__list">
					<li><a href="#!">Yangiliklar</a></li>
					<li><a href="#!">Tarjima</a></li>
					<li><a href="#!">Madaniyat</a></li>
					<li><a href="#!">Qo’shimcha ma’lumot</a></li>
					<li><a href="#!">Milliy kutubxona</a></li>
					<li><a href="#!">Sayt xaritasi</a></li>
				</ul>
			</div>
			<div class="nv-header__content">
				<div class="nv-header__burger">
					<img src="@/assets/images/icon-burder.svg" alt="burger" />
				</div>
				<ul class="nv-header__list container ">
					<li class="active"><a href="#!">Biografiya</a></li>
					<li><a href="#!">ENsiklopediya</a></li>
					<li><a href="#!">personaliya</a></li>
					<li class="logo"><a href="#!">a</a></li>
					<li><a href="#!">mediateka</a></li>
					<li><a href="#!">savollar</a></li>
					<li><a href="#!">Bog’lanish</a></li>
				</ul>
				<div class="nv-header__logo">
					<img src="@/assets/images/logo.png" alt="logo" />
				</div>
				<div class="nv-header__search">a</div>
			</div>
		</div>
	</header>
</template>

<script>
export default {
	name: "App",
};
</script>
