<template>
	<footer class="nv-footer">
		<div class="nv-footer__content container">
			<div class="nv-footer__info">
				<img src="@/assets/images/logo.png" alt="logo" class="nv-footer__info-logo" />
				<p class="nv-footer__info-text">Navoiyshunoslik - bu mijozlarni Alisher Navoiyning asarlari, hayoti va u haqida ma’lumotlar bilan taqdim etish platformasi</p>
			</div>
			<div class="nv-footer__links">
				<p class="nv-footer__links-title">Havolalar</p>
				<a class="nv-footer__links-link" href="#!">Navoiy asarlari</a>
				<a class="nv-footer__links-link" href="#!">Qo‘shimcha maʼlumot</a>
				<a class="nv-footer__links-link" href="#!">Jahon navoiyshunoslari</a>
				<a class="nv-footer__links-link" href="#!">Ensiklopediya</a>
				<a class="nv-footer__links-link" href="#!">Tarjima</a>
				<a class="nv-footer__links-link" href="#!">Bibliografiya</a>
				<a class="nv-footer__links-link" href="#!">Madaniyat</a>
			</div>
			<div class="nv-footer__links">
				<p class="nv-footer__links-title">Xizmatlar</p>
				<a class="nv-footer__links-link" href="#!">elektron buyurtma </a>
				<a class="nv-footer__links-link" href="#!">Ilmiy ishlar</a>
				<a class="nv-footer__links-link" href="#!">Audio va video materiallar</a>
				<a class="nv-footer__links-link" href="#!">katalog kartochkalari</a>
				<a class="nv-footer__links-link" href="#!">Qo‘lyozmalar</a>
				<a class="nv-footer__links-link" href="#!">Nashrlar statistikasi</a>
				<a class="nv-footer__links-link" href="#!">elektron arxiv</a>
			</div>
			<div class="nv-footer__contact">
				<div class="nv-footer__contact-input">
					<input type="text" placeholder="example@gmail.com" />
					<button>
						<img src="@/assets/images/icon-arrow.svg" alt="icon" />
					</button>
				</div>
				<p class="nv-footer__contact-desc">Yangiliklarimizni eng birinchilardan bo’lib kuzatib borish uchun email orqali tarqatmalarimizga obuna bo’ling</p>
				<h3 class="nv-footer__contact-title">Bog‘Lanish</h3>
				<p class="nv-footer__contact-item">Address: <a href="#!">Toshkent sh. Amir Temur 107B</a></p>
				<p class="nv-footer__contact-item">Pochta: <a href="#!">mukhammadumid@mail.uz</a></p>
				<p class="nv-footer__contact-item">Telefon: <a href="#!">+998 90 999 99 99</a></p>
			</div>
		</div>
		<div class="nv-footer__credentials">
			<p class="nv-footer__credentials-text">Barcha huquqlar himoyalangan. Navoiyshunoslik 2023 Copyright.</p>
		</div>
	</footer>
</template>

<script>
export default {
	name: "App",
};
</script>
