<template>
	<div class="nv-selector__parent">
		<p class="nv-selector__label">Rubrika tili:</p>
		<div class="nv-selector__holder">
			<div class="nv-selector">
				<div class="nv-selector__toggler">
					<img class="nv-selector__toggler-icon" src="@/assets/images/flag-gb.svg" alt="" />
					<p class="nv-selector__toggler-label">English</p>
					<img class="nv-selector__toggler-arrow" src="@/assets/images/icon-dropdown.svg" alt="" />
				</div>
				<div class="nv-selector__body">
					<div class="nv-selector__item" data-lang="UZB" data-label="uzbekcha">
						<img src="@/assets/images/flag-china.png" alt="" />
						<p>UZB</p>
					</div>
					<div class="nv-selector__item" data-lang="RUS" data-label="ruscha">
						<img src="@/assets/images/flag-uzb.png" alt="" />
						<p>RUS</p>
					</div>
					<div class="nv-selector__item" data-lang="ENG" data-label="englscha">
						<img src="@/assets/images/flag-gb.svg" alt="" />
						<p>ENG</p>
					</div>
					<div class="nv-selector__item" data-lang="GER" data-label="gerscha">
						<img src="@/assets/images/flag-gb.svg" alt="" />
						<p>GER</p>
					</div>
					<div class="nv-selector__item" data-lang="ALL" data-label="barcha">
						<img src="@/assets/images/flag-gb.svg" alt="" />
						<p>ALL</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: "App",
};
</script>
