<template>
	<div>
		<compHeader />
		<section class="nv-gallery">
			<div class="nv-gallery__content container">
				<div class="nv-gallery__titling">
					<div class="nv-gallery__titling-title">MEDIAGALLEREYA</div>
					<div class="nv-gallery__titling-select">
						<compSelect />
					</div>
				</div>
				<div class="nv-gallery__list">
					<div class="nv-gallery__item">
						<img src="https://picsum.photos/400" alt="image" />
						<p>test</p>
					</div>
					<div class="nv-gallery__item">
						<img src="https://picsum.photos/400" alt="image" />
						<p>test</p>
					</div>
					<div class="nv-gallery__item">
						<img src="https://picsum.photos/400" alt="image" />
						<p>test</p>
					</div>
					<div class="nv-gallery__item">
						<img src="https://picsum.photos/400" alt="image" />
						<p>test</p>
					</div>
					<div class="nv-gallery__item">
						<img src="https://picsum.photos/400" alt="image" />
						<p>test</p>
					</div>
					<div class="nv-gallery__item">
						<img src="https://picsum.photos/400" alt="image" />
						<p>test</p>
					</div>
					<div class="nv-gallery__item">
						<img src="https://picsum.photos/400" alt="image" />
						<p>test</p>
					</div>
					<div class="nv-gallery__item">
						<img src="https://picsum.photos/400" alt="image" />
						<p>test</p>
					</div>
					<div class="nv-gallery__item">
						<img src="https://picsum.photos/400" alt="image" />
						<p>test</p>
					</div>
					<div class="nv-gallery__item">
						<img src="https://picsum.photos/400" alt="image" />
					</div>
				</div>
			</div>
		</section>
		<section class="nv-gallery__popup">
			<div class="nv-gallery__popup-content container">
				<div class="nv-gallery__popup-body">
					<img src="https://picsum.photos/900" alt="image" />
				</div>
				<div class="nv-gallery__popup-desc">
					<p>Alisher Navoiy maqbarasi tolibonlar xujumigacha, Hirot, 1976-yil.</p>
				</div>
				<button class="nv-gallery__popup-close">
					<img src="@/assets/images/icon-zoomout.svg" alt="close" />
				</button>
			</div>
		</section>
		<compFooter />
	</div>
</template>

<script>
import compHeader from './comp-header.vue';
import compFooter from './comp-footer.vue';
import compSelect from './comp-select.vue';
export default {
	name: "App",
	components: {
		compHeader,
		compFooter,
		compSelect
	}
};
</script>
