<template>
	<div>
		<compHeader />
		<section class="nv-enc enc_hero">
			<div class="nv-enc__content container">
				<div class="nv-enc__titling">
					<h2 class="nv-enc__titling-title">ENSIKLOPEDIYA</h2>
					<compSelect />
				</div>
				<div class="nv-enc__body">
					<ul class="nv-enc__list fl-body">
						<li class="fl-item" data-lang="RUS">
							<a href="#!">Alisher Navoiy <span>RUS</span></a>
						</li>
						<li class="fl-item" data-lang="RUS">
							<a href="#!">Nihol <span>RUS</span></a>
						</li>
						<li class="fl-item" data-lang="ENG">
							<a href="#!">Adabiyot <span>ENG</span></a>
						</li>
						<li class="fl-item" data-lang="ENG">
							<a href="#!">Afsus <span>ENG</span></a>
						</li>
						<li class="fl-item" data-lang="RUS">
							<a href="#!">O'zbekiston <span>RUS</span></a>
						</li>
						<li class="fl-item" data-lang="UZB">
							<a href="#!">Shayxontohur <span>UZB</span></a>
						</li>
						<li class="fl-item" data-lang="ENG">
							<a href="#!">G'azal <span>ENG</span></a>
						</li>
						<li class="fl-item" data-lang="RUS">
							<a href="#!">Farhod va Shirin <span>RUS</span></a>
						</li>
						<li class="fl-item" data-lang="UZB">
							<a href="#!">Adabiy turmush <span>UZB</span></a>
						</li>
						<li class="fl-item" data-lang="RUS">
							<a href="#!">Alisher Navoiy <span>RUS</span></a>
						</li>
						<li class="fl-item" data-lang="RUS">
							<a href="#!">Nihol <span>RUS</span></a>
						</li>
						<li class="fl-item" data-lang="ENG">
							<a href="#!">Adabiyot <span>ENG</span></a>
						</li>
						<li class="fl-item" data-lang="ENG">
							<a href="#!">Afsus <span>ENG</span></a>
						</li>
						<li class="fl-item" data-lang="RUS">
							<a href="#!">O'zbekiston <span>RUS</span></a>
						</li>
						<li class="fl-item" data-lang="UZB">
							<a href="#!">Shayxontohur <span>UZB</span></a>
						</li>
						<li class="fl-item" data-lang="ENG">
							<a href="#!">G'azal <span>ENG</span></a>
						</li>
						<li class="fl-item" data-lang="RUS">
							<a href="#!">Farhod va Shirin <span>RUS</span></a>
						</li>
						<li class="fl-item" data-lang="UZB">
							<a href="#!">Adabiy turmush <span>UZB</span></a>
						</li>
						<li class="fl-item" data-lang="RUS">
							<a href="#!">Alisher Navoiy <span>RUS</span></a>
						</li>
						<li class="fl-item" data-lang="RUS">
							<a href="#!">Nihol <span>RUS</span></a>
						</li>
						<li class="fl-item" data-lang="ENG">
							<a href="#!">Adabiyot <span>ENG</span></a>
						</li>
						<li class="fl-item" data-lang="ENG">
							<a href="#!">Afsus <span>ENG</span></a>
						</li>
						<li class="fl-item" data-lang="RUS">
							<a href="#!">O'zbekiston <span>RUS</span></a>
						</li>
						<li class="fl-item" data-lang="UZB">
							<a href="#!">Shayxontohur <span>UZB</span></a>
						</li>
						<li class="fl-item" data-lang="ENG">
							<a href="#!">G'azal <span>ENG</span></a>
						</li>
						<li class="fl-item" data-lang="RUS">
							<a href="#!">Farhod va Shirin <span>RUS</span></a>
						</li>
						<li class="fl-item" data-lang="UZB">
							<a href="#!">Adabiy turmush <span>UZB</span></a>
						</li>
					</ul>

					<div class="nv-enc__main">
						<div class="nv-enc__main-img">
							<img src="https://picsum.photos/400" alt="" />
						</div>
						<div class="nv-enc__main-body">
							<h1 class="nv-enc__main-title">Agroskin Anatoliy Rafailovich — rus akter, Shekspir tarjimon.</h1>
							<h3 class="nv-enc__main-date">12.12.2020</h3>
							<h3 class="nv-enc__main-author">Mukhammadumid Toshmamatov</h3>
							<p>Nihol" so'zi o'zbek adabiyotida Alisher Navoiyning sharqiy gazallarining birida ko'rinadi. Ushbu gazal bir sevgilining yoki aytayotgan odamning xayoli va izhor etgan o'zining ayriliq va hasratni aks ettiradi. "Nihol" gazali, uning asarlarida xayol, sevgi, va ayriliq mavzusini ifodalaydi. Alisher Navoiyning san'atida "Nihol" gazali u yillardan beri mashhur va e'tibor qozonuvchi bo'lib kelmoqda va o'zbek adabiyotining qadimiy boy bo'lib qolgan bir qismidir. Bu gazal, Alisher Navoiyning yaratgan yuqori adabiyot asarlaridan biri sifatida bilinadi va uning sevgi va xayolining yetarli, o'zg'aruvchan ta'kidini ko'rsatadi.</p>
							<p>Nihol gazali Alisher Navoiyning asarlaridagi eng mahbub sherlardan biridir. Bu gazal, sevgi, xayol, va o'zining yaratgan eng mukhlis izlaridan birini bildiradi. "Nihol" so'zi o'zbek adabiyotida ham xayoliy mahsulotni va asar sozlarini ifodalaydi. Bu gazalda yozuvchining ayriliq va hasrati hayotni ko'ngilga olishi bilan birga keladi. Uning so'zlari, sevgilisi uchun bo'lgan xayol va izhori bilan to'ldirilgan va o'z-o'zini ayriliq qilgan yigit yuragi haqida.</p>
							<p>Alisher Navoiyning san'atida "Nihol" gazali u yillardan beri mashhur va e'tibor qozonuvchi bo'lib kelmoqda va o'zbek adabiyotining qadimiy boy bo'lib qolgan bir qismidir. Bu gazal, Alisher Navoiyning yaratgan yuqori adabiyot asarlaridan biri sifatida bilinadi va uning sevgi va xayolining yetarli, o'zg'aruvchan ta'kidini ko'rsatadi Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe laborum, officiis vitae ipsum repellendus rerum ullam mollitia quis et optio totam cupiditate libero cum in provident minima eveniet architecto dignissimos quisquam veniam nostrum expedita, dolore est. Fugit consectetur nostrum, enim fugiat voluptatem atque ullam omnis consequatur temporibus quo labore vero doloremque distinctio nihil illum delectus voluptatum, iusto neque voluptatibus? Dolorem suscipit totam harum facere perferendis voluptate sit voluptas sapiente aspernatur quisquam vel numquam cumque, excepturi possimus nam exercitationem, officia accusamus libero explicabo, nisi dolorum repellendus perspiciatis quam est. Enim sint quod molestias quidem porro, iure, commodi vero fugit, nesciunt dolore laborum pariatur voluptatibus aperiam molestiae alias dolores aliquid. Atque rem veritatis tempora tempore. Velit in commodi quaerat provident tempora nemo, unde impedit, repellat eaque voluptatum neque minima aut doloremque repudiandae fuga quis consequatur hic excepturi! Quidem, praesentium sequi illum sint eaque provident non molestiae voluptatibus illo quis pariatur ipsum itaque quae quaerat tempora. Voluptatibus tempore molestias temporibus blanditiis dolores praesentium, tempora, rem ipsa sit non veritatis voluptates commodi nostrum, atque eos aliquid doloremque minus vel repudiandae officia sint. Porro nostrum quia iusto sapiente impedit vero nulla perspiciatis, obcaecati blanditiis eum voluptatum veritatis, ipsa, soluta eveniet quibusdam. A, voluptates unde quae voluptate dolor molestias sunt non veritatis eos eum incidunt temporibus cum sint odit quaerat iusto aliquam ipsam at quos minus minima aspernatur magnam dolorem! Voluptatem quisquam accusantium sed porro. Amet explicabo ut iure labore quod pariatur, aut, molestiae consequatur vero expedita cupiditate quidem quaerat saepe nesciunt doloribus distinctio. Nihil nisi culpa id possimus vitae veritatis nobis dolore architecto veniam minus ullam corporis amet animi dolor, aliquid labore et atque ipsam perferendis voluptas ut tempora! Perferendis, dignissimos aperiam corporis quam, quo, quaerat distinctio molestias suscipit quae non inventore esse voluptates ipsam alias voluptate ratione porro in autem odit soluta deserunt eaque officiis temporibus. A, veniam modi. Veniam voluptatem, dolor distinctio, quis perspiciatis ipsum mollitia ab repellendus doloremque vero inventore perferendis veritatis ipsa magnam blanditiis labore eaque laborum assumenda, consequuntur ex quo repudiandae excepturi! Magnam minus fugit rem quidem. Fugiat explicabo facere quos sit voluptatem blanditiis illo, saepe molestiae nesciunt nemo aliquid! Ex ducimus magnam aliquam a culpa, nostrum eum obcaecati ipsa laboriosam asperiores velit saepe optio odit dolorem? Eos excepturi vel nulla, reprehenderit molestias porro incidunt fuga voluptas alias deleniti fugit facere ducimus quia saepe totam veniam neque nesciunt? Voluptas, et hic esse in laudantium molestias sapiente ullam illum aspernatur voluptatem laborum ab tempora doloribus odit repellendus. Dolor quas explicabo placeat natus fugiat eum quod alias voluptates, culpa optio laboriosam amet beatae, reprehenderit aut commodi? Placeat reiciendis ad modi dicta atque voluptate ducimus, repellat fuga voluptatum itaque, rerum quae optio quod impedit inventore iusto eaque nulla praesentium sint cupiditate dolorem nesciunt rem doloremque? Enim consectetur, fugit porro maxime est quisquam laborum neque vitae sint velit iure debitis ab voluptates. Optio unde consectetur, vitae placeat soluta illum voluptates inventore doloremque obcaecati? Numquam, alias unde eaque, velit, natus blanditiis pariatur dolorem consectetur harum odit quod tenetur magnam reiciendis dolor. Incidunt quos assumenda et vitae expedita odio consectetur corrupti perferendis explicabo quam quisquam voluptas labore, impedit distinctio unde debitis fugit nulla rem dolore vero reiciendis voluptates sed! Distinctio quibusdam eligendi officiis minus, id incidunt, atque, veniam ipsam neque consectetur nemo quo odit quas eos perferendis blanditiis ut voluptatem error quisquam? Odio, rem sunt. Ipsam eos hic explicabo dolores et voluptas sed culpa inventore, sint tempora? Sit et possimus cum aut unde modi! Corporis aliquid, vitae, maxime neque delectus ad vero et placeat minus totam, veritatis consectetur expedita officiis fuga facilis amet esse dolorem. Assumenda error quaerat natus voluptas voluptate nam voluptatum minus earum laboriosam. Quaerat iusto doloribus ratione eum laudantium eaque accusamus tempore beatae corporis nam iure ipsam libero deleniti consequuntur ipsum aliquam repellat aperiam animi, tenetur exercitationem doloremque? Explicabo architecto nam sed, commodi dignissimos dolore pariatur libero nobis ex voluptatem itaque saepe assumenda at vel expedita quibusdam dolorum doloremque recusandae sunt aliquam necessitatibus eligendi voluptas? Fuga repellendus commodi quos! Porro omnis tenetur quod rem laudantium sed aliquid quaerat deleniti maxime ducimus exercitationem, excepturi quos. Cumque ipsa sint voluptatem odit. Voluptates a tenetur, recusandae eum amet sapiente! Cumque quod blanditiis quibusdam doloremque asperiores ut iure a perspiciatis pariatur aut dicta itaque aliquam necessitatibus culpa quisquam, deleniti quos voluptatibus. Voluptatum facilis aperiam sit molestias repellendus soluta repellat qui mollitia, illo obcaecati, blanditiis consequatur, inventore facere illum impedit in necessitatibus magnam doloribus quod velit sapiente? Mollitia, minima praesentium! Commodi mollitia ea porro adipisci perferendis culpa tenetur fugiat cumque aliquam nihil. Quo temporibus dolore, nulla perspiciatis commodi laborum fugit beatae unde illum dolores quasi quibusdam reiciendis impedit provident eum modi aliquam tempora maiores. Maiores aliquam non, molestiae rerum eum, cum officiis laborum inventore, repellendus error aperiam velit labore minus culpa repudiandae similique cupiditate molestias alias. Ad accusantium sunt laboriosam, perspiciatis deserunt voluptas harum nobis consequatur doloribus dignissimos incidunt possimus. Quis consequuntur labore temporibus, est molestiae fuga odio quod unde mollitia facilis quasi? Aperiam in, similique ipsum ut voluptatem error minima sequi dicta excepturi, perferendis obcaecati amet commodi, consequatur autem nam consectetur. Nemo explicabo omnis sed quos distinctio asperiores nesciunt voluptatem. Amet corrupti voluptatum rerum dolor, corporis labore perferendis exercitationem dolorem voluptatem, nisi quasi asperiores veniam! Omnis ad magni cum dolorum, suscipit rerum a, earum velit saepe amet sint non optio ducimus. Tenetur laudantium totam nulla magni qui quas repellat fugiat aliquid dolor consectetur corporis culpa quidem, accusamus facilis! Repudiandae voluptatibus doloremque repellendus odio unde fuga aliquid vel ea ipsam natus, rem obcaecati porro sapiente ducimus quaerat rerum officia magni inventore sit nulla dolor illum! Velit quo ad reprehenderit culpa? Non debitis maxime ipsam. Maiores adipisci, labore dignissimos voluptas fugit quibusdam perferendis saepe, unde ipsam soluta maxime, architecto ratione? Omnis, architecto inventore. Expedita illo labore ratione. Non quasi voluptatem aperiam eveniet magnam a rerum ullam tenetur. Officiis, impedit? Quae sed totam velit? Doloremque natus consequuntur nesciunt reprehenderit tempora voluptate quam aliquam similique sapiente laudantium itaque odit necessitatibus pariatur beatae distinctio quas, ratione libero neque! Sunt, itaque! Velit quam in corporis recusandae provident porro beatae cumque sint fuga eos. .</p>
						</div>
						<div class="nv-enc__main-btns">
							<a download href="#!">
								<img src="/images/pdf.svg" alt="" />
								Yuklab olish
							</a>
							<a href="#!">
								<img src="/images/link.svg" alt="" />
								Havolaga o'tish
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<compFooter />
	</div>
</template>
<script>

import compHeader from './comp-header.vue';
import compFooter from './comp-footer.vue';
import compSelect from './comp-select.vue';
export default {
	name: "App",
	components: {
		compHeader,
		compFooter,
		compSelect
	}
};
</script>
