<template>
	<div>
		<compHeader />
		<section class="nv-intro">
			<div class="nv-intro__leftbar">
				<div class="nv-intro__socials">
					<a href="#!" class="nv-intro__social">a</a>
				</div>
			</div>
			<div class="nv-intro__content container">
				<div class="nv-intro__bg">
					<img src="@/assets/images/Navoi.png" alt="navoi" />
				</div>
				<div class="nv-intro__texts">
					<div class="nv-intro__name">
						<span>ALISHER</span>
						<span>NAVOIY</span>
					</div>

					<div class="nv-intro__dates">
						<div class="nv-intro__date">
							<span>Tavalludi</span>
							<p>09 FEV 1441</p>
							<span>Hirot, Temuriylar imperiyasi</span>
						</div>
						<span></span>
						<div class="nv-intro__date">
							<span>Vafoti</span>
							<p>03 YAN 1501</p>
							<span>Hirot, Temuriylar imperiyasi</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="nv-biography">
			<div class="nv-biography__content container">
				<div class="nv-biography__desc">
					<h2 class="nv-biography__title">BIOGRAFIYA</h2>

					<p>(9-fevral 1441-yil — 3-yanvar 1501-yil) — oʻzbek va boshqa turkiy xalqlarning shoiri, mutafakkiri va davlat arbobi. Gʻarbda chigʻatoy adabiyotining buyuk vakili deb qaraladi, sharqda „nizomi millati va din“ (din va millatning nizomi) unvoni bilan ulugʻlanadi.</p>
					<p>Ali Yazdiy nazariga tushgan, Mavlono Lutfiy yosh shoir isteʼdodiga yuqori baho bergan, Kamol Turbatiy eʼtirofini qozongan. Sayyid Hasan Ardasher, Pahlavon Muhammad kabi ustozlardan taʼlim olgan, Abdurahmon Jomiy bilan ijodiy hamkorlikda boʻlgan. Navoiy 1469-yilgacha temuriylar orasidagi ichki nizolar sababli Hirotdan yiroqroqda yashagan.</p>
					<p>Husayn Boyqaro Xuroson taxtiga oʻtirgach (1469), Navoiy hayoti va ijodida yangi bosqich boshlanadi, muhrdorlik (1469) mansabiga, vazirlik (1472) va Astrobod hokimligi (1487)ga tayinlanadi. 1480-1500-yillar mobaynida oʻz mablagʻlari hisobidan bir necha madrasa, 40 rabot (safardagi yoʻlovchilar toʻxtab oʻtish joyi), 17 masjid, 10 xonaqoh, 9 hammom, 9 koʻprik, 20 ta hovuz qurdiradi.</p>
				</div>
				<div class="nv-biography__image">
					<img src="@/assets/images/image.jpg" alt="" />
				</div>
			</div>
		</section>
		<section class="nv-cite">
			<div class="nv-cite__content container">
				<h3 class="nv-cite__text">
					„Shohu toju xilʼatekim, men tomosha qilgʻali, <br />
					Uzbakim boshida qalpoq, egnida shirdogʻi bas“.
				</h3>
				<p class="nv-cite__author">Alisher Navoiy</p>
			</div>
		</section>
		<section class="nv-bio">
			<div class="nv-bio__content container">
				<h2 class="nv-bio__title">Hayotining soʻnggi yillari</h2>
				<div class="nv-bio__block">
					<div class="nv-bio__block-img">
						<img src="@/assets/images/navoi-desc.png" alt="" />
					</div>
					<div class="nv-bio__block-desc">
						<p>1498-yilda Alisher Navoiy „Majolis un–nafois“ni qayta koʻzdan kechirib, toʻldirdi. Shoirlar adadni 459 taga yetkazdi. Shu yili yoshligidan qalbida muhirlanib kelgan „Mantiq ut–tayr“ ga javob yozadi. „Lison ut-tayr“ Navoiy ijodini yakunlovchi asarlardan biridir. Buyuk shoir 1498-1499-yillarda xatlarini toʻplab, „Munshaot“ tuzdi. Unda 88 ta xat jamlangan boʻlib, ularning aksariyati shoirning shoh va shahzodalarga yoʻllangan. Shoirning 1500-yilning oxirlarida yozib tugatgan „Mahbub ul–qulub“ asari uning eng soʻnggi asari boʻlib qoldi. Navoiy 1501-yilning 3-yanvarida vafot etadi. Butun xalq — shohda gadogacha, olimdan choʻpongacha, shoirdan dehqongacha ulugʻ farzandining oʻlimiga qaygʻu va iztirob bilan motam tutadi.</p>
						<p>Навоий ижоди ўзининг ҳақиқий қадр-қимматини мустақил Ўзбекистонда топди, дея оламиз. Юртбошимиз ташаббуси билан 1991 йил Алишер Навоий йили деб аталган эди. Мамлакатимиз бу улуғ зот номи билан мустақиллик даврига қадам қўйди. Бунда ўзига хос рамзий маъно бор. Зеро, Навоий ўзининг ҳаёти ва фаолиятини юрт мустақиллиги ва тинчлиги, ўзбек тилининг нашъу намоси учун бахшида этган эди.</p>
					</div>
				</div>
				<div class="nv-bio__block">
					<div class="nv-bio__block-desc">
						<p>Bugun Alisher Navoiy haqli suratda jahon madaniyatining mumtoz vakillari safidan o‘rin oldi. Uning asarlari jahondagi yuzlab tillarga tarjima qilindi. Dunyo ahli uning merosi bilan qiziqmoqda, asarlarida tarannum etilgan olijanob g‘oyalar va falsafiy mushohadalaridan zavq olmoqda. Shoir haykallari Yaponiyaning Soka universiteti hovlisida, Moskva va Boku shaharlarida qad ko‘tardi.</p>

						<p>Barcha daho sanʼatkorlar singari Alisher Navoiy ham o‘zining nomi va yaratgan asarlari osha yashab qolishiga ishongan edi. "Umidim uldurki va hayolimga andoq kelurki, so‘zim martabasi avjdan quyi enmagay va yozgan asarlarimning tantanasi aʼlo darajadan o‘zga yerni yoqtirmagay", deb yozgan edi ulug‘ shoir. Bu bashoratomuz so‘zlar ijobat bo‘ldi. Endilikda shoir so‘zlari dunyo bo‘ylab o‘zining yuksak parvozini davom ettirmoqda.</p>

						<p>O‘zbek xalqining uchta baxti bor. Birinchi baxti mustaqillik, ikkinchi baxti yer osti va yer usti boyliklari bo‘lsa, uchinchi baxti Navoiydir</p>
					</div>
					<div class="nv-bio__block-img">
						<img src="@/assets/images/navoi-tomb.png" alt="" />
					</div>
				</div>
			</div>
		</section>
		<compFooter />
	</div>
</template>

<script>
import compHeader from './comp-header.vue';
import compFooter from './comp-footer.vue';
export default {
	name: "App",
	components: {
		compHeader,
		compFooter
	}
};
</script>
