<template>
  <main>
    <section class="enc_hero">
      <div class="container">
        <div class="enc_hro-header">
          <h2 class="enc_hero-title">PERSONALIYA</h2>
          <div class="content_lang-wrapper">
            <p class="content_lang-label">Rubrika tili:</p>
            <div>YOUR LANG COMPONENT</div>
          </div>
        </div>
        <div class="enc_content">
          <ul class="enc_list">
            <li>
              <a href="#!">AGARONOVA Yelena Gerasimovna</a>
            </li>
            <li>
              <a href="#!">AGROSKIN Anatoliy Rafailovich</a>
            </li>
            <li>
              <a href="#!">ADAMS Mod</a>
            </li>
            <li>
              <a href="#!">ADAMYAN Petros Ieronimovich</a>
            </li>
            <li>
              <a href="#!">AKIMOV Nikolay Pavlovich</a>
            </li>
            <li>
              <a href="#!">AKSYONOV Ivan Aleksandrovich</a>
            </li>
            <li>
              <a href="#!">ALEKSEYEV Mixail Pavlovich</a>
            </li>
            <li>
              <a href="#!">ALLEN Persi</a>
            </li>
            <li>
              <a href="#!">ALYABYEV Aleksan Aleksandrovich </a>
            </li>
            <li>
              <a href="#!">BAYRON Djordj Noel Gordon </a>
            </li>
            <li>
              <a href="#!">BEKKET Semyuel Barkli</a>
            </li>
            <li>
              <a href="#!">BELNAP Robert Luis</a>
            </li>
            <li>
              <a href="#!">BELYAKOVICH Valeriy Romanovich</a>
            </li>
            <li>
              <a href="#!">BEN Georgiy Yevseyevich</a>
            </li>
            <li>
              <a href="#!">BENEDIKS Roderix Yulius </a>
            </li>
            <li>
              <a href="#!">VEBER Alfred</a>
            </li>
          </ul>

          <div class="enc_content-main">
            <div class="enc_image-box">
              <img src="/images/personaliya.png" alt="" />
            </div>
            <div class="enc_content-inner">
              Agroskin Anatoliy Rafailovich — rus akter, Shekspir tarjimon.
              <br />
              <br />U 1957-yil 3-yanvarida Leningradda tug'ilgan. 1973-yilda
              fizika-matematika maktabi № 38-ni tamomlagan, 1979-yilda
              «Metallurgiya protsesslarining fiziko-kimyoviy tadqiqotlari»
              mutaxassisligi bo'yicha Leningrad politexnika institutidan chiqdi.
              Talabalik yillaridan boshlab Sankt-Peterburg davlat politexnika
              universiteti “Glagol” xalq teatri faoliyatida ishtirok etadi. 30
              yildan ortiq san'at faoliyati davomida 1000 dan ortiq she'r va
              qo'shiqlar matnlari yozgan va ularga turli she'r to'plamlarida va
              teatral almanaxlarda joy berilgan. <br /><br />
              Yakka yigirma yilgacha Materiallar Markazi korroziya
              laboratoriyasida ishlagan, kimyo fanlarining kandidati. Hozirgi
              kunda maxsus kommersiya kompaniyasida muharrir mutaxassisi
              sifatida faoliyat yuritadi.
            </div>
            <div class="enc_content-btns">
              <a download href="#!">
                <img src="/images/pdf.svg" alt="" />
                Yuklab olish
              </a>
              <a href="#!">
                <img src="/images/link.svg" alt="" />
                Havolaga o'tish
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
export default {
  data() {
    return {
      encLiist: [],
    };
  },
};
</script>

<style scoped>
body {
  background: #252525;
}
.container {
  max-width: 1460px !important;
}
.enc_hero {
  padding-top: 94px;
}
.enc_hro-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.enc_hero-title {
  color: #e1c935;
  font-size: 68px;
  font-weight: 700;
  line-height: 100%; /* 68px */
}
.content_lang-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}
.content_lang-label {
  color: #e1c935;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
}
.enc_content {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-top: 115px;
}
.enc_list {
  min-width: 40%;
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  list-style-type: none;
}
.enc_list li {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  line-height: 210%; /* 54.6px */
  text-transform: uppercase;
  transition: 0.3s ease;
}
.enc_list li:hover {
  color: #e1c935;
}
.enc_content-main {
  position: relative;
  background: #353535;
  width: 100%;
  padding: 70px;
  margin-top: 92px;
}
.enc_image-box {
  position: absolute;
  top: -92px;
  left: calc(100% - 50px);
}
.enc_image-box img {
  width: 345px;
  height: 490px;
}
.enc_content-inner {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%; /* 36px */
}
.enc_content-btns {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.enc_content-btns a {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #fff;
  font-size: 26.286px;
  font-weight: 700;
  line-height: 100%; /* 26.286px */
  transition: all 0.3s ease;
}
.enc_content-btns a:hover {
  color: #e1c935;
}
</style>
