<template>
	<div>
		<compHeader />
		<section class="nv-contacts">
			<div class="nv-contacts__content container">
				<div class="nv-contacts__titling">
					<div class="nv-contacts__titling-title">BOG'LANISH</div>
				</div>
				<div class="nv-contacts__body">
					<div class="nv-contacts__map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2685.441275061556!2d69.27347735294886!3d41.316832794888946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b2a6565712d%3A0x790feb8933429946!2sNational%20Library%20of%20Uzbekistan!5e0!3m2!1sen!2s!4v1700903932515!5m2!1sen!2s" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
					<div class="nv-contacts__infos">
						<div class="nv-contacts__info">
							<p class="nv-contacts__info-title">Telegram</p>
							<a href="#!" class="nv-contacts__info-link">+998 90 999 99 99</a>
						</div>
						<div class="nv-contacts__info">
							<p class="nv-contacts__info-title">Telefon</p>
							<a href="#!" class="nv-contacts__info-link">+998 90 999 99 99</a>
						</div>
						<div class="nv-contacts__info">
							<p class="nv-contacts__info-title">Pochta</p>
							<a href="#!" class="nv-contacts__info-link">+998 90 999 99 99</a>
						</div>
						<div class="nv-contacts__info">
							<p class="nv-contacts__info-title">Adres</p>
							<a href="#!" class="nv-contacts__info-link">+998 90 999 99 99</a>
						</div>
					</div>
					<div class="nv-contacts__form">
						<p class="nv-contacts__form-title">Xabar qoldiring</p>
						<input id="contact_name" placeholder="Ismingiz" type="text" required />
						<input id="contact_phone" placeholder="Telefon raqamingiz" type="text" required />
						<input id="contact_title" placeholder="Xabaringiz matni" type="text" required />
						<textarea id="contact_message" placeholder="Xabaringiz matni" type="text" required></textarea>
						<button class="nv-contacts__form-btn" onclick="passContact()">Yuborish</button>
					</div>
				</div>
			</div>
		</section>
		<section class="nv-modals__holder">
			<div id="custommodal__success" class="nv-modals">
				<div class="nv-modals__body">
					<img class="nv-modals__icon" src="<?php echo get_template_directory_uri() ?>/assets/images/customs/icon-success.svg" alt="success" />

					<p class="nv-modals__txt">Arizangiz muvaffaqiyatli jo'natildi. Tez orada bizning mutahassis siz bilan bog'lanadi</p>
				</div>
			</div>
			<div id="custommodal__error" class="nv-modals">
				<div class="nv-modals__body">
					<img class="nv-modals__icon" src="<?php echo get_template_directory_uri() ?>/assets/images/customs/icon-error.svg" alt="success" />

					<p class="nv-modals__txt">Xatolik yuz berdi, arizangiz yuborilmadi. Iltimos keyinroq urinib ko'ring</p>
				</div>
			</div>
		</section>
		<compFooter />
	</div>
</template>

<script>
import compHeader from './comp-header.vue';
import compFooter from './comp-footer.vue';

export default {
	name: "App",
	components: {
		compHeader,
		compFooter,
	}
};
</script>
