<template>
	<main>
		<section class="nv-faq">
			<div class="nv-faq__content container">
				<div class="nv-faq__titling">
					<h2 class="nv-faq__titling-title">SAVOLLAR</h2>
				</div>
				<div class="nv-faq__cards">
					<div class="nv-faq__card" v-for="item in questionList" :key="item">
						<div class="nv-faq__card-title">
							<p>{{item.question}}</p>
						</div>
						<div class="nv-faq__card-content">
							<p>{{item.content}}</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</template>

<script>
export default {
  data() {
    return {
		questionList: [
          {
            question: "Кадрлар ва рейтинг тизими",
            content: `Амалдаги ходимлар тўғрисида маълумот, ташкилотнинг таркибий тузилмалари, лавозимлар номенклатураси, бўш иш ўринлари,
            заҳирадаги кадрлар, давлат мукофотларига тавсия этиш тизими, меҳнат таътиллари, хизмат сафарлари, малака ошириш, табел, касаллик варақалари,
            моддий ёрдам, туғилган кунлар, лавозимлар тарихи, кадрларни мақсадли тайёрлаш, ходимларнинг иш самарадорлигини баҳолаш ва рағбатлантириш тизими`,
            showStatus: false
          },
          {
            question: "Ҳужжатлар",
            content: `Иш ҳужжатлари (файллар) ва меъёрий ҳужжатларни ахборот тизимининг серверида тартибли сақлаш, уларни бошқа фойдаланувчилар билан қулай бўлишиш,
            ҳужжатларнинг автоматлаштирилган электрон архивини юритиш имконияти`,
            showStatus: false
          },
          {
            question: "Иш режалар ва йиғилишлар",
            content: `Жамоавий ва шахсий иш режаларини электрон шаклда юритиш, ҳужжатлар, лойиҳалар, топшириқлар ёки хизмат вазифалари юзасидан амалга
            оширилган ишлар тўғрисидаги маълумотларни тўплаб бориш, ходимлар ва бўйсунувчи ташкилотларнинг кундалик иш фаолияти бўйича шаффоф маълумотга эга
            бўлиш, йиғилишларни ташкил қилиш, қатнашчиларга эълон қилиш ва ўтказилган йиғилишларнинг мониторингини юритиш жараёнларини автоматлаштириш имконияти`,
            showStatus: false
          },
          {
            question: "Меҳнат интизоми ва рухсатномалар",
            content: `Ходимларнинг ишга вақтида келиб кетиши, айни вақтда кимлар иш жойида эканлиги, кимлар, нима сабабдан, қанча вақтдан буён иш жойида эмаслиги,
            кутилаётган кишининг ишга келганлиги ёки кетганлиги тўғрисида хабар, ходимларнинг узрсиз сабабларга кўра иш жойида бўлмаган ҳамда иш вақтидан ташқари иш ўрнида
            ўтказган вақтлар тўғрисида батафсил маълумотларни қулай кўриб бориш имконияти.Шунингдек, бинога келиб кетувчиларга бир марталик рухсатнома учун буюртма бериш,
            уни расмийлаштириш ва келиб-кетувчиларнинг мониторингини юритиш имконияти мавжуд`,
            showStatus: false
          },
          {
            question: "Девонхона, электрон ҳужжат алмашинуви ва ижро назорати",
            content: `Келувчи, чиқувчи ва ички ҳужжатларни рўйхатга олиш, резолюция лойиҳаларини тайёрлаш, раҳбариятга ва ижрочиларга электрон шаклда етказиш,
            ҳужжатларнинг ижроси бўйича амалга оширилган ишларни расмийлаштириш, келишиш, тасдиқлаш, ижро интизомининг назоратини автоматлаштирилган тартибда
            олиб бориш, ҳужжатларнинг ижро муддатларини эслатиш ва таҳлилларини автоматик тайёрлаш имконияти`,
            showStatus: false
          },
          {
            question: "Тезкор мулоқот",
            content: `Лаҳзалик ёзишмалар, видеомулоқот, файлларни қулай алмашиш, ички ва ташқи электрон почта, SMS хабарлар юбориш, телефон китоби`,
            showStatus: false
          },
          {
            question: "Қабулхона ва оғзаки топшириқлар",
            content: `Раҳбарият қабулига масофадан ёзилиш, ходимларнинг қабулхонада кутиб туришга сарфланадиган иш вақтларини тежаш, қабулга пухта тайёргарлик
            кўриш, қабул жараёнини самарали ташкил қилиш ва қабул жараёнида берилган барча топшириқларнинг ижросини назоратга олиш`,
            showStatus: false
          },
          {
            question: "Эълонлар ва эслатмалар",
            content: `Меҳнат жамоасига ҳамда бўйсунувчи ташкилотларга турли хабарлар ва маълумотларни тез етказиш, кимлар хабарни ўқимаганлиги,
            кимлар қачон ўқиганлиги тўғрисида аниқ маълумот олиш, зарур ҳолларда фойдаланувчига қулай шаклда эслатмалар бериб туриш имконияти`,
            showStatus: false
          },
        ]
    };
  },
};
</script>
