// @import url("../fonts/montserratwf/stylesheet.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;600;700;800;900&display=swap");

*,
ul,
p {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	scroll-behavior: smooth;
	outline: none;
	font-family: "Montserrat", sans-serif;
	// font-family: 'Frank Ruhl Libre', serif;

	&::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}

	&::-webkit-scrollbar-track {
		background: #f1f1f1;
	}

	&::-webkit-scrollbar-thumb {
		background: rgba(28, 79, 209, 0.5);
		border-radius: 10px;
	}
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;

	&:hover {
		color: inherit;
		text-decoration: none;
	}
}

img {
	display: flex;
}

section {
	// overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input[type="radio"] {
	accent-color: #1b4fd0;
}

html {
	min-width: 1500px;
}

.container {
	width: 1450px;
	margin: 0 auto;
}

.main {
	margin: 80px 0;
}

body {
	background: #252525;
	overflow-y: scroll;
	min-width: 320px;

	// & > div,
	// & > div > div {
	// 	min-height: 100vh;
	// 	display: flex;
	// 	flex-direction: column;
	// }
}

@media (max-width: 1250px) {
	.container {
		width: 100%;
		max-width: 992px;
		padding: 0 15px;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 768px;
	}

	.main {
		margin-top: 70px;
	}
}

@media (max-width: 768px) {
	.container {
		max-width: 576px;
	}

	* {
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
	}
}

@media (max-width: 576px) {
	.container {
		max-width: unset;
	}
}

header {
	height: 120px;
}

.nv-header {
	border-bottom: 1px solid rgba(137, 137, 137, 0.2);
	height: 120px;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9;
	background: #252525;

	&__content {
		display: flex;
		height: 100%;
		gap: 10px;
		position: relative;
		width: 100%;
	}

	&__burger {
		flex-shrink: 0;
		width: 120px;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			cursor: pointer;
			transition: 0.3s;

			&:hover {
				opacity: 0.6;
			}
		}
	}

	&__list {
		display: flex;
		width: 100%;
		height: 100%;
		padding: 0 80px;
		gap: 50px;
		align-items: center;
		justify-content: flex-start;

		li {
			color: #898989;
			text-align: center;
			font-family: "Montserrat";
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: 120%; /* 16.8px */
			text-transform: uppercase;
			cursor: pointer;
			transition: 0.3s;
			width: 110px;
			flex-shrink: 0;

			&.active {
				color: #fff;
			}

			&:hover {
				opacity: 0.6;
			}

			&.logo {
				opacity: 0;
				width: 100%;
				flex-shrink: unset;
			}
		}

		// li:nth-child(3) {
		// 	margin-right: auto;
		// }

		// li:nth-child(4) {
		// 	margin-left: 100px;
		// }
	}

	&__logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		img {
			width: 190px;
			height: 60px;
		}
	}

	&__search {
		flex-shrink: 0;
		width: 120px;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
	}
}

.nv-footer {
	background: #161616;
	padding: 85px 0 0 0;
	margin-top: auto;

	&__content {
		display: flex;
		align-items: flex-start;
		justify-content: center;
	}

	&__info {
		width: 25%;
		flex-shrink: 0;
		padding: 0 40px 0 0;
		display: flex;
		flex-direction: column;
		gap: 30px;
		align-items: flex-start;
		justify-content: flex-start;

		&-text {
			color: #fff;
			font-size: 16px;
			font-style: normal;
			font-weight: 300;
			line-height: 150%; /* 24px */
		}
	}

	&__links {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 15px;
		width: 25%;
		flex-shrink: 0;

		&-title {
			color: #fff;
			font-family: "Frank Ruhl Libre";
			font-size: 26px;
			font-style: normal;
			font-weight: 700;
			line-height: 100%; /* 26px */
			text-transform: uppercase;
			margin-bottom: 10px;
		}

		&-link {
			color: #898989;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: 120%; /* 19.2px */
			text-transform: uppercase;
			transition: 0.3s;

			&:hover {
				color: #fff;
			}
		}
	}

	&__contact {
		display: flex;
		flex-direction: column;
		width: 25%;
		gap: 20px;

		&-input {
			display: flex;
			border-radius: 10px;
			background: #d9d9d9;
			height: 60px;
			width: 100%;
			border-radius: 10px;
			overflow: hidden;
			align-items: center;

			input {
				all: unset;
				padding: 0 20px;
				color: #898989;
				font-size: 14px;
				font-style: normal;
				height: 100%;
				font-weight: 400;
				line-height: 100%; /* 14px */
				flex-grow: 1;
			}

			button {
				all: unset;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 8px;
				background: #e1c935;
				width: 42px;
				height: 42px;
				margin: 0 10px;
				cursor: pointer;
			}
		}

		&-desc {
			color: #fff;
			font-size: 16px;
			font-style: normal;
			font-weight: 300;
			line-height: 150%; /* 24px */
			margin-bottom: 10px;
		}

		&-title {
			color: #fff;
			font-family: "Frank Ruhl Libre";
			font-size: 26px;
			font-style: normal;
			font-weight: 700;
			line-height: 100%; /* 26px */
			text-transform: uppercase;
		}

		&-item {
			color: #898989;
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: 100%; /* 16px */

			a {
				font-weight: 400;
				transition: 0.3s;

				&:hover {
					opacity: 0.6;
				}
			}
		}
	}

	&__credentials {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px;
		border-top: 1px solid #898989;
		margin-top: 70px;

		&-text {
			color: #898989;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 100%; /* 16px */
		}
	}
}

.nv-rubrics {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 480px;
	z-index: 10;
	padding: 150px 45px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	background: rgba(37, 37, 37, 0.8);
	box-shadow: 0px 11px 101px -49px rgba(160, 160, 160, 0.26);
	transition: 0.3s;
	transform: translateX(-100%);

	&.opened {
		transform: translateX(0);
	}

	&__toggler {
		width: 120px;
		height: 120px;
		padding: 40px;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		cursor: pointer;
		transition: 0.3s;

		&:hover {
			opacity: 0.6;
		}
	}

	&__title {
		color: #e1c935;
		font-family: "Frank Ruhl Libre";
		font-size: 42px;
		font-style: normal;
		font-weight: 700;
		line-height: 100%; /* 42px */
		margin-bottom: 25px;
	}

	&__list {
		li,
		a {
			color: #fff;
			margin-bottom: 20px;
			font-size: 22px;
			font-style: normal;
			font-weight: 600;
			line-height: 120%; /* 26.4px */
			display: flex;
			align-items: center;
			transition: 0.3s;
			gap: 10px;

			&:hover {
				opacity: 0.6;
			}
		}

		a::before {
			display: flex;
			width: 25px;
			height: 2px;
			content: "";
			background: #fff;
		}
	}
}

.nv-intro {
	height: calc(100vh - 120px);
	position: relative;
	background: url("../images/ALISHER.png") no-repeat;
	background-position: 400px -10vh;

	&::after,
	&::before {
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 10;
		width: 1px;
		background: rgba(137, 137, 137, 0.2);
		content: "";
	}

	&::after {
		left: 120px;
	}

	&::before {
		right: 120px;
	}

	&__socials {
		position: absolute;
		width: 120px;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	&__social {
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.3s;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

		&:hover {
			opacity: 0.6;
		}
	}

	&__content {
		height: 100%;
		position: relative;
	}

	&__bg {
		// transform: translateX(200px);
		height: 100%;
		width: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;

		img {
			width: 80%;
			// background: red;
		}
	}

	&__texts {
		position: absolute;
		bottom: 0;
		padding: 100px;
		left: 0;
	}

	&__name {
		display: flex;
		flex-direction: column;
		margin-bottom: 50px;

		span {
			color: #fff;
			font-family: "Frank Ruhl Libre";
			font-size: 100px;
			font-style: normal;
			font-weight: 700;
			line-height: 100%; /* 62px */

			&:first-child {
				font-size: 62px;
			}
		}
	}

	&__dates {
		display: flex;
		gap: 40px;
		align-items: center;

		& > span {
			display: flex;
			width: 50px;
			height: 2px;
			background: #fff;
		}
	}

	&__date {
		span {
			color: #898989;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 100%; /* 14px */
		}

		p {
			color: #fff;
			font-family: "Frank Ruhl Libre;";
			font-size: 56px;
			font-style: normal;
			font-weight: 400;
			line-height: 100%; /* 56px */
		}
	}
}

.nv-biography {
	padding: 80px 0;

	&__content {
		display: flex;
		align-items: center;
	}

	&__desc {
		width: 50%;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 30px;
	}

	&__title {
		color: #e1c935;
		font-family: "Frank Ruhl Libre";
		font-size: 68px;
		font-style: normal;
		font-weight: 700;
		line-height: 100%; /* 68px */
		margin-bottom: 10px;
	}

	p {
		color: #fff;
		font-size: 22px;
		font-style: normal;
		font-weight: 300;
		line-height: 150%; /* 33px */
	}

	&__image {
		max-width: 50%;
		margin: auto;
		position: relative;
		max-height: 80vh;

		&::after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: "";
			z-index: 0;
			border: 10px solid #e1c935;
			transform: translate(30px, -50px);
		}

		img {
			position: relative;
			z-index: 1;
		}
	}
}

.nv-cite {
	padding: 150px 0;
	background: #2e2e2e;
	position: relative;

	&__content {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	&__text {
		color: #fff;
		text-align: center;
		font-family: "Frank Ruhl Libre";
		font-size: 56px;
		font-style: normal;
		font-weight: 400;
		line-height: 120%; /* 67.2px */
		background: #2e2e2e;
		z-index: 2;
		padding: 30px 60px;
	}

	&__author {
		color: #e1c935;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		line-height: 100%; /* 24px */
		align-self: flex-end;
		padding-right: 120px;
		display: flex;
		align-items: center;
		gap: 10px;
		justify-content: flex-start;

		&::before {
			display: flex;
			content: "";
			width: 30px;
			height: 1px;
			background: #e1c935;
		}
	}

	&::after {
		content: "";
		display: flex;
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		background: #e1c935;
		height: 1px;
		z-index: 0;
	}
}

.nv-bio {
	padding: 80px 0;

	&__title {
		color: #e1c935;
		font-family: "Frank Ruhl Libre";
		font-size: 68px;
		font-style: normal;
		font-weight: 700;
		line-height: 100%; /* 68px */
		text-transform: uppercase;
		text-align: right;
		margin-bottom: 120px;
	}

	&__block {
		display: flex;
		align-items: flex-start;
		gap: 50px;
		margin-bottom: 80px;

		&:nth-child(2) {
			align-items: flex-end;
		}

		&:nth-child(3) {
			.nv-bio__block-img {
				&::after {
					display: none;
				}
			}
		}

		&-desc {
			width: 50%;
			overflow: hidden;

			p {
				color: #fff;
				font-size: 22px;
				font-style: normal;
				font-weight: 300;
				line-height: 150%; /* 33px */
				margin-bottom: 15px;
			}
		}
		&-img {
			width: 50%;
			// overflow: hidden;
			height: 700px;
			position: relative;

			&::after {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				content: "";
				z-index: 0;
				border: 10px solid #e1c935;
				transform: translate(-80px, -50px);
			}

			img {
				position: relative;
				z-index: 1;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

.nv-gallery {
	&__titling {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 50px;

		&-title {
			color: #e1c935;
			font-family: "Frank Ruhl Libre";
			font-size: 68px;
			font-style: normal;
			font-weight: 700;
			line-height: 100%; /* 68px */
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
	}

	&__item {
		width: 100%;
		overflow: hidden;
		height: 230px;
		border-radius: 10px;
		cursor: pointer;

		img {
			transition: 0.2s;
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: brightness(0.8);
		}

		p {
			display: none;
		}

		&:hover {
			img {
				filter: brightness(1);
				transform: scale(1.02);
			}
		}
	}

	&__popup {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 11;
		background: rgba(0, 0, 0, 0.64);
		backdrop-filter: blur(10.5px);
		padding: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.3s;
		opacity: 0;
		visibility: hidden;

		&-content {
			display: flex;
			align-items: center;
			justify-content: center;
			background: #898989;
			border-radius: 10px;
		}

		&-body {
			width: 100%;
			max-height: 80vh;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;

			img,
			video,
			iframe {
				width: 100%;
				max-height: 80vh;
				object-fit: contain;
			}
		}

		&-desc {
			position: absolute;
			bottom: 0;
			right: 0;
			background: #252525;
			height: 250px;
			padding: 70px;
			width: 45vw;
			overflow: hidden;
			display: flex;
			align-items: center;

			p {
				color: #fff;
				font-size: 24px;
				font-style: normal;
				font-weight: 700;
				line-height: 190%; /* 45.6px */
				text-transform: uppercase;
			}
		}

		&-close {
			position: absolute;
			background: #898989;
			top: 100px;
			right: 100px;
			width: 60px;
			height: 60px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			transition: 0.3s;
			border-radius: 10px;

			&:hover {
				opacity: 0.6;
			}
		}

		&.opened {
			opacity: 1;
			visibility: visible;
		}
	}
}

.nv-selector {
	position: relative;
	z-index: 8;
	border-radius: 10px;
	border: 1px solid #e1c935;
	transition: 0.3s;
	max-height: 60px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	background: #252525;
	user-select: none;

	&__parent {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 20px;
	}

	&__label {
		color: #e1c935;
		text-align: center;
		font-size: 18px;
		font-style: normal;
		flex-shrink: 0;
		font-weight: 400;
		line-height: 120%; /* 21.6px */
	}

	&__holder {
		position: relative;
		height: 60px;
		width: 220px;
		flex-shrink: 0;
	}

	&__toggler {
		height: 60px;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 5px 20px;
		gap: 15px;
		cursor: pointer;

		p {
			color: #e1c935;
			text-align: center;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 120%; /* 21.6px */
			margin-right: auto;
		}

		img {
			transition: 0.3s;

			&:nth-child(1) {
				width: 40px;
				height: 25px;
				background: #000;
				border-radius: 5px;
			}
		}
	}

	&__body {
		flex-grow: 1;
		overflow: auto;
		display: flex;
		flex-direction: column;

		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}
	}

	&__item {
		padding: 0 20px;
		height: 50px;
		display: flex;
		gap: 15px;
		flex-shrink: 0;
		align-items: center;
		justify-content: flex-start;
		cursor: pointer;
		transition: 0.3s;

		p {
			color: #e1c935;
			font-size: 18px;
			font-style: normal;
			font-weight: 400;
			line-height: 120%; /* 21.6px */
		}

		img {
			width: 40px;
			height: 25px;
			background: #000;
			border-radius: 5px;
		}

		&:hover {
			background: #303030;
		}
	}

	&.opened {
		max-height: 400px;

		.nv-selector__toggler-arrow {
			transform: rotate(180deg);
		}
	}
}

.nv-enc {
	&__titling {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-bottom: 80px;

		&-title {
			color: #e1c935;
			font-family: "Frank Ruhl Libre";
			font-size: 68px;
			font-style: normal;
			font-weight: 700;
			line-height: 100%; /* 68px */
		}
	}

	&__body {
		display: flex;
		align-items: flex-start;
		gap: 15px;
	}

	&__list {
		max-height: calc(100vh - 200px);
		overflow: auto;
		width: 35%;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		padding-right: 30px;
		position: sticky;
		top: 140px;

		&::-webkit-scrollbar {
			width: 0;
			height: 0;
		}

		li {
			color: #fff;
			font-size: 22px;
			font-weight: 700;
			line-height: 1.4; /* 54.6px */
			text-transform: uppercase;
			transition: 0.3s ease;
			margin-bottom: 10px;

			&:hover,
			&.current {
				color: #e1c935;
			}

			a {
				display: flex;
				align-items: flex-start;
				gap: 5px;
			}

			span {
				font-size: 10px;
				color: #898989;
				display: flex;
				line-height: 190%;
			}
		}
	}

	&__main {
		position: relative;
		background: #353535;
		width: 55%;
		padding: 50px 70px 50px 50px;
		margin-top: 100px;

		&-img {
			top: 0;
			right: 0;
			width: 10px;
			height: 100%;
			position: absolute;

			img {
				all: unset;
				position: sticky;
				top: 190px;
				transform: translate(-50px, -50px);
				background: #000;
				max-width: 345px;
				max-height: 490px;
				object-fit: cover;
			}
		}

		&-body {
			color: #fff;
			font-size: 16px;
			font-weight: 400;
			line-height: 150%;

			p {
				margin-bottom: 10px;
			}

			img,
			iframe,
			video {
				width: 100%;
				object-fit: contain;
				margin-bottom: 10px;
			}
		}

		&-btns {
			margin-top: 70px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 30px;

			a {
				display: flex;
				align-items: center;
				gap: 15px;
				color: #fff;
				font-size: 20px;
				font-weight: 700;
				line-height: 100%; /* 26.286px */
				transition: all 0.3s ease;

				&:hover {
					color: #e1c935;
				}
			}
		}

		&-title {
			font-size: 24px;
			color: #e1c935;
			line-height: 140%;
			margin-bottom: 10px;
			width: 70%;
		}

		&-date {
			color: #898989;
			font-size: 16px;
			line-height: 1;
			float: right;
			font-weight: 400;
			margin: 0;
		}

		&-author {
			color: #898989;
			font-size: 18px;
			max-width: 80%;
			line-height: 1.2;
			font-weight: 400;
			margin: 0 0 20px 0;
		}
	}
}

.nv-faq {
	overflow: hidden;

	&__titling {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-bottom: 80px;

		&-title {
			color: #e1c935;
			font-family: "Frank Ruhl Libre";
			font-size: 68px;
			font-style: normal;
			font-weight: 700;
			line-height: 100%; /* 68px */
		}
	}

	&__cards {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		width: 100%;
		gap: 20px;
	}

	&__card {
		width: calc(50% - 10px);
		border-radius: 10px;
		background: #353535;
		box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.03);
		min-height: 60px;
		max-height: 60px;
		overflow: hidden;
		transition: 0.3s;
		display: flex;
		flex-direction: column;
		flex-shrink: 0;

		&-title {
			padding: 10px;
			border-radius: 10px;
			flex-shrink: 0;
			padding-right: 40px;
			height: 60px;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			cursor: pointer;
			position: relative;
			padding: 10px 20px;

			p {
				color: #b5964d;
				font-size: 16px;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
			}

			&::after {
				-webkit-transition: 0.3s;
				-o-transition: 0.3s;
				transition: 0.3s;
				position: absolute;
				top: 50%;
				right: 20px;
				width: 20px;
				height: 20px;
				background: url("../images/icon-dropdown.svg") no-repeat center center;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
				content: "";
			}
		}

		&-content {
			background: #3f3f3f;
			width: calc(100% - 30px);
			margin: 15px;
			border-radius: 10px;
			padding: 15px;

			p {
				color: #fff;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: 1.6;
			}
		}

		&.opened {
			max-height: 500px;

			.nv-faq__card-title::after {
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}
}

.nv-loader {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(50px);
	z-index: 12;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;

	&__body {
		width: 70px;
		height: 70px;
		position: relative;
	}

	&__circle {
		width: 100%;
		height: 100%;
		background-color: #e1c935;
		border-radius: 50%;
		position: absolute;
		transform-origin: center;

		&.circle-front {
			opacity: 1;
		}

		&.circle-rear {
			animation: rear-grow 1s infinite, fade-out 2s 1s infinite;
		}
	}

	&.none {
		opacity: 0;
		visibility: hidden;
	}
}

.nv-contacts {
	&__titling {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 50px;

		&-title {
			color: #e1c935;
			font-family: "Frank Ruhl Libre";
			font-size: 68px;
			font-style: normal;
			font-weight: 700;
			line-height: 100%; /* 68px */
		}
	}

	&__body {
		display: flex;
		align-items: flex-start;
		// gap: 50px;
	}

	&__map {
		width: 40%;
		flex-shrink: 0;
		margin-right: 25px;
		padding: 20px 25px 20px 0;
		border-right: 1px solid #3f3f3f;

		iframe {
			width: 100%;
			height: 300px;
			display: flex;
			filter: grayscale(1);
		}
	}

	&__infos {
		flex-grow: 1;
		padding: 20px 0;
	}

	&__info {
		margin-bottom: 25px;
		display: flex;
		flex-direction: column;

		&-title {
			color: #e1c935;
			font-family: Frank Ruhl Libre;
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: 100%; /* 68px */
			margin-bottom: 5px;
		}

		&-link {
			color: #898989;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 120%; /* 68px */
			transition: 0.3s;
			cursor: pointer;

			&:hover {
				color: #898989;
				opacity: 0.6;
			}
		}
	}

	&__form {
		width: 40%;
		flex-shrink: 0;
		margin-left: 25px;
		padding: 20px 0 20px 25px;
		border-left: 1px solid #3f3f3f;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: flex-start;

		&-title {
			width: 100%;
			font-size: 16px;
			color: #e1c935;
			font-family: Frank Ruhl Libre;
			font-size: 22px;
			font-style: normal;
			font-weight: 700;
			line-height: 120%; /* 68px */
			margin-bottom: 20px;
		}

		&-btn {
			cursor: pointer;
			padding: 12px 25px;
			border-radius: 10px;
			border: 1px solid #e1c935;
			transition: 0.3s;
			color: #252525;
			font-size: 14px;
			font-weight: 500;
			background: #e1c935;
			margin-left: auto;

			&:hover {
				opacity: 0.6;
			}
		}

		input,
		textarea {
			all: unset;
			width: 100%;
			margin-bottom: 15px;
			height: 50px;
			border: 1px solid #e1c935;
			padding: 0 15px;
			border-radius: 10px;
			font-size: 14px;

			color: #fff;
			font-style: normal;
			font-weight: 400;
			line-height: 140%; /* 68px */
		}

		textarea {
			padding: 10px 15px;
			height: 100px;
		}

		input {
			&:nth-child(2) {
				margin-right: auto;
				width: calc(50% - 39px);
			}
			&:nth-child(3) {
				width: calc(50% - 39px);
			}
		}
	}
}

.nv-modals {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(10px);
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
	opacity: 0;
	visibility: hidden;

	&.show {
		opacity: 1;
		visibility: visible;
	}

	&__body {
		width: 700px;
		padding: 70px 100px;
		background: #f2f2f2;
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
		justify-content: center;
		border-radius: 10px;
	}

	&__icon {
		width: 150px;
		height: 150px;
		display: flex;
		object-fit: contain;
	}

	&__txt {
		text-align: center;
		font-size: 20px;
		line-height: 1.4;
		font-weight: 600;
	}
}

@keyframes rear-grow {
	0%,
	100% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.9);
	}
}

@keyframes fade-out {
	0% {
		opacity: 0.4;
	}
	100% {
		opacity: 0;
	}
}
